<div style=" padding-left: 250px; ">
  <nav>
    <div style="background-color: rgb(202, 202, 202)">
      <tabset>
        <tab
          *ngFor="let tabz of tabs"
          [heading]="tabz.title"
          (selectTab)="tabz.active = true"
          (deselect)="tabz.active = false"
          [removable]="tabz.removable"
        >
        </tab>
      </tabset>
    </div>
  </nav>

</div>
